{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Registration
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="left-container">
            <form class="{% url 'create_post-page' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <a style="margin-top: 10px;" class="hash" href="{% url 'addhashtag-page' %}">Add new hashtag ?</a>
                <button type="submit" class="update-pr">Add</button>
            </form>
        </div>
    </div>
    <style>
/* Стили для формы регистрации */


body {
    font-family: Arial, sans-serif;
    background: #180835;

  }

.card {
    display: flex;
    margin: 100px auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 480px;
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .left-container {
    background: #000000;
background: -webkit-linear-gradient(to right, #434343, #000000);
background: linear-gradient(to right, #434343, #000000);
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:430px;
    padding: 30px;
    margin: 50px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    max-width: 100%;
    color: white;
}
input[name="content"],
input[name="hashtags"]
 {
    margin-bottom: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.registration-form>button.submit-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-form>button.submit-button:hover {
    background-color: #0056b3;
}
.update-pr {
    padding: 10px;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-decoration: none;
    border-radius: 20px;
    color: white;
    width: 100%;
    margin-top: 20px;
}
select[name='hashtags']{
    width: 100%;
}
.hash{
    color:white;
    text-decoration: none;
}
.hash:hover{
    color:red;
    text-decoration: none;
}
    </style>
{% endblock content %}

